#strelloids-settings-btn {
  padding-left: 32px;
  padding-right: 5px; }

#strelloids-settings-window {
  width: auto;
  height: auto;
  overflow: initial;
  top: 44px;
  right: 4px;
  max-height: calc(100vh - 48px);
  left: auto;
  position: fixed;
  z-index: 100;
  overflow-y: auto;
  background-color: #fff; }
  #strelloids-settings-window label {
    margin-top: 0;
    display: flex;
    align-items: center;
    font-weight: 400; }
    #strelloids-settings-window label input {
      margin-bottom: 0; }
    #strelloids-settings-window label select {
      display: inline-block;
      width: auto;
      margin: 0;
      background-color: rgba(0, 0, 0, 0.05);
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 3px; }

.scrum-label {
  display: inline-block;
  margin: 0 2px;
  padding: 0 3px;
  border-radius: 4px;
  color: #17394D;
  line-height: 16px;
  font-size: 12px;
  opacity: 0.6; }
  .scrum-label.team1 {
    background-color: #9fd1df; }
  .scrum-label.team2 {
    background-color: #abdf9f; }
  .scrum-label::before {
    content: "";
    position: relative;
    top: 2px;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 2px;
    background-position: center;
    background-size: contain; }
  .scrum-label.estimation::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='256' height='256' version='1.1' viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' stroke='%2317394D' stroke-linecap='round' stroke-linejoin='bevel' stroke-width='20'%3E%3Cpath d='m200 88c0 19.882-8.0589 37.882-21.088 50.912-6.5147 6.5147-14.819 13.088-14.85 21.234-0.0614 15.855 7.9386 27.926-36.061 27.89-44-0.0357-36-12.036-36.012-27.954-0.0062-8.0817-8.3848-14.655-14.9-21.17-13.029-13.029-21.088-31.029-21.088-50.912 0-39.764 32.235-72 72-72 39.764 0 72 32.236 72 72z'/%3E%3Cpath d='m96 208c20 8 44 8 64 0'/%3E%3Cpath d='m96 236c20 8 44 8 64 0'/%3E%3C/g%3E%3C/svg%3E"); }
  .scrum-label.consumption::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='256' height='256' version='1.1' viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m88 248c-112-60-20-140-28-168 12 16 12 28 12 40 20-28 52-64 44-112 52 32 64 64 68 88 8-8 12-24 4-44 72 72 68 152-16 196 16-24 28-92-36-140 4 20 0 44-20 68 8-16-1.0625-34.531-4-36-8 44-48 48-24 108z' fill='%2317394D'/%3E%3C/svg%3E"); }

.list-card .list-card-title .card-tag {
  padding: 0 3px;
  font-family: monospace;
  display: inline-block;
  float: none;
  vertical-align: middle;
  min-width: initial;
  opacity: 0.6;
  color: #17394D;
  border-left: 3px solid #555;
  border-radius: 0 4px 4px 0;
  line-height: 18px;
  margin: 0 2px; }
.list-card .list-card-details {
  display: flex;
  flex-wrap: wrap; }
.list-card .card-label {
  opacity: 0.7;
  min-width: initial;
  flex-grow: 1; }
.list-card .list-card-members {
  flex-grow: 1;
  text-align: right; }
.list-card .scrum-points-container {
  flex-grow: 1;
  text-align: right; }
.list-card.card-separator {
  background-color: transparent;
  box-shadow: none; }
  .list-card.card-separator .list-card-title {
    display: flex;
    align-items: center;
    color: #6b808c;
    width: 100%; }
    .list-card.card-separator .list-card-title::before, .list-card.card-separator .list-card-title::after {
      content: "";
      flex-grow: 1;
      display: block;
      height: 0;
      border-bottom: 1px dashed #6b808c;
      margin-left: 5px;
      margin-right: 5px; }
  .list-card.card-separator .card-short-id {
    display: none; }
.list-card:hover .list-card-title .card-tag {
  opacity: 1; }
.list-card:hover .scrum-label {
  opacity: 1; }
.list-card:hover .card-label {
  opacity: 1; }

.list .list-header.is-menu-shown, .list .list-header.is-subscribe-shown {
  padding-right: 8px; }

.list-header {
  display: flex;
  flex-wrap: wrap; }
  .list-header .list-visibility-switcher {
    position: absolute;
    top: 4px;
    left: 4px;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    z-index: 1;
    cursor: pointer; }
    .list-header .list-visibility-switcher::before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 0 7px 7px;
      border-color: transparent transparent transparent #798d99;
      transition: transform 0.3s ease-in-out; }
    .list-header .list-visibility-switcher:hover {
      background-color: rgba(9, 45, 66, 0.13);
      border-left-color: #516b7a; }
  .list-header .list-header-target {
    cursor: text; }
  .list-header .list-header-name {
    flex-grow: 1;
    width: auto;
    margin-left: 24px;
    margin-right: 24px; }
  .list-header .scrum-sum-container {
    display: inline-block;
    margin: 0;
    flex-grow: 1;
    text-align: right; }
    .list-header .scrum-sum-container .scrum-label {
      font-size: 14px;
      line-height: 18px;
      opacity: 0.75; }

.card-short-id {
  color: gray;
  float: right;
  margin-left: 4px;
  font-size: 12px; }

#board:not(.board-table-view) .list-hidden {
  width: 40px;
  max-width: 40px;
  text-orientation: sideways;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  min-height: max-content; }
  #board:not(.board-table-view) .list-hidden textarea.list-header-name {
    display: none; }
  #board:not(.board-table-view) .list-hidden .list-header-name-assist {
    display: block;
    font-size: 16px; }
  #board:not(.board-table-view) .list-hidden .list-header {
    padding-right: 8px;
    padding-top: 70px;
    display: flex;
    align-items: center; }
    #board:not(.board-table-view) .list-hidden .list-header .list-header-name-assist {
      white-space: nowrap; }
    #board:not(.board-table-view) .list-hidden .list-header .list-header-num-cards {
      margin: 8px 0;
      white-space: nowrap; }
    #board:not(.board-table-view) .list-hidden .list-header .scrum-label {
      margin: 2px 0;
      padding: 3px 0; }
    #board:not(.board-table-view) .list-hidden .list-header .list-header-extras {
      top: 36px; }

.list-hidden {
  opacity: 0.8; }
  .list-hidden .list-cards {
    display: none; }
  .list-hidden .open-card-composer {
    display: none; }
  .list-hidden .list-header .list-visibility-switcher::before {
    transform: rotate(90deg); }
  .list-hidden .list-header .list-header-target {
    display: none; }

#board.board-multiple-rows {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap; }
  #board.board-multiple-rows .flex-placeholder {
    flex-grow: 1;
    height: 1px;
    width: 272px; }
  #board.board-multiple-rows .list-wrapper {
    flex-grow: 1;
    max-height: 500px;
    margin-bottom: 8px; }
    #board.board-multiple-rows .list-wrapper:first-child {
      margin-left: 4px; }
#board.board-table-view {
  display: flex;
  flex-direction: column;
  overflow-y: auto; }
  #board.board-table-view .list-wrapper {
    width: auto;
    height: auto;
    margin-bottom: 8px; }
    #board.board-table-view .list-wrapper .list-card {
      max-width: 100%; }
      #board.board-table-view .list-wrapper .list-card .list-card-details {
        display: grid;
        align-items: center;
        margin-right: 22px;
        grid-template-columns: 45% 20% 10% 10% 15%; }
        #board.board-table-view .list-wrapper .list-card .list-card-details .list-card-labels {
          grid-column: 2 / span 1;
          grid-row: 1 / span 1;
          text-align: center; }
          #board.board-table-view .list-wrapper .list-card .list-card-details .list-card-labels .card-label.mod-card-front {
            display: inline-block;
            float: none; }
        #board.board-table-view .list-wrapper .list-card .list-card-details .list-card-title {
          grid-column: 1 / span 1;
          grid-row: 1 / span 1; }
        #board.board-table-view .list-wrapper .list-card .list-card-details .badges {
          grid-column: 5 / span 1;
          grid-row: 1 / span 1;
          text-align: right; }
        #board.board-table-view .list-wrapper .list-card .list-card-details .list-card-members {
          grid-column: 4 / span 1;
          grid-row: 1 / span 1;
          text-align: center; }
        #board.board-table-view .list-wrapper .list-card .list-card-details .scrum-points-container {
          grid-column: 3 / span 1;
          grid-row: 1 / span 1;
          text-align: left; }
        #board.board-table-view .list-wrapper .list-card .list-card-details .card-short-id {
          margin-right: 8px; }
      #board.board-table-view .list-wrapper .list-card .list-card-stickers-area {
        display: none; }
      #board.board-table-view .list-wrapper .list-card .list-card-cover {
        display: none; }
      #board.board-table-view .list-wrapper .list-card.is-stickered .list-card-details {
        margin-top: 0; }
      #board.board-table-view .list-wrapper .list-card.card-separator .list-card-details .list-card-title {
        grid-column: 1 / span 5; }
    #board.board-table-view .list-wrapper .list-header {
      display: grid;
      align-items: center;
      grid-template-columns: 45% 20% 10% 10% 15%; }
      #board.board-table-view .list-wrapper .list-header .list-header-name {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1; }
      #board.board-table-view .list-wrapper .list-header .scrum-sum-container {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        text-align: left; }
      #board.board-table-view .list-wrapper .list-header .list-header-num-cards {
        grid-column: 5 / span 1;
        grid-row: 1 / span 1;
        text-align: center; }
    #board.board-table-view .list-wrapper.list-hidden {
      text-orientation: initial;
      writing-mode: initial;
      -webkit-writing-mode: initial; }
    #board.board-table-view .list-wrapper:first-child {
      margin-left: 4px; }

/*# sourceMappingURL=strelloids.css.map */
