#color-picker {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;

	.backdrop {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		backdrop-filter: blur(2px);
	}

	.modal {
		position: relative;
		margin: 5px;
	}

	.content {
		padding: 8px;
		border: 1px solid var(--main-bg4);
		border-radius: 0 5px 5px 5px;
		background-color: var(--main-bg3);
	}

	.modes {
		display: flex;
		margin-bottom: -1px;
		.mode-tab {
			background-color: var(--main-bg2);
			border: 1px solid var(--main-bg4);
			border-radius: 0;
			margin: 0 0 0 -1px;
			padding: 2px 5px;
			cursor: pointer;
		}
		label {
			margin: 0;
			input {
				display: none;

				&:checked + .mode-tab {
					border-bottom-color: var(--main-bg3);
					background-color: var(--main-bg3);
					font-weight: bold;
				}
			}

			&:first-child .mode-tab {
				border-top-left-radius: 5px;
				margin-left: 0;
			}

			&:last-child .mode-tab {
				border-top-right-radius: 5px;
			}
		}
		.mode-tab:hover {
			background-color: var(--main-bg4);
		}
	}

	.slider {
		display: flex;
		align-items: center;
		justify-content: stretch;
		span {
			flex-grow: 1;
			padding: 2px 4px;
		}
	}


	.hex-color {
		width: 90px;
		display: inline-block;
		font-family: monospace;
	}

	input[type=range] {
		margin: 0;
		padding: 0;
		-webkit-appearance: none;
		width: 144px;
		cursor: pointer;
	}

	.bg-transparent {
		margin: 0;
	}

	input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 0;
		height: 22px;
		cursor: pointer;
		background-color: transparent;
		border-width: 3px 2px;
		border-style: solid;
		border-color: #000 transparent #fff transparent;
		box-shadow: none;
		border-radius: 0;
	}

	input[type=range]::-moz-range-thumb {
		width: 0;
		height: 16px;
		cursor: pointer;
		background-color: transparent;
		border-width: 3px 2px;
		border-style: solid;
		border-color: #000 transparent #fff transparent;
		box-shadow: none;
		border-radius: 0;
	}

	input[type=range][name=H] {
		background: linear-gradient(to right, #F00, #FF0, #0F0, #0FF, #00F, #F0F, #F00);
	}

	.preview {
		grid-row: 1 / span 2;
		grid-column: 1 / span 1;
		width: 54px;
		height: 54px;
		border: 1px solid var(--main-border);
		margin-top: 2px;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 5px;
		margin-right: 2px;
		grid-column: 2;
		grid-row: 2;
	}

	footer {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-column: 2;
		margin-left: 18px;
		.hex-container {
			grid-column: 2;
			justify-content: flex-end;
		}
	}
}

.bg-transparent {
	font-size: 0;
	border-radius: 4px;
	background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' version='1.1' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 0h8v8h-8z' fill='%23b3b3b3'/%3E%3Cpath d='m0 0h4v4h-4z' fill='%23666'/%3E%3Cpath d='m4 4h4v4h-4z' fill='%23666'/%3E%3C/svg%3E");
	margin: 2px;
	input {
		margin: 0;
	}
}