@import "../../content/css/font";

html {
	font-size: 14px;
	background-color: #f4f5f7;
	border-radius: 2px;
	overflow-x: hidden;
	padding: 0;
}
body {
	padding: 0;
	box-sizing: border-box;
	width: 280px;
	font-size: 14px;
	color: #17394d;
	font-family: Helvetica Neue,Arial,Helvetica,"DejaVu Sans","Verdana",sans-serif;
	line-height: 20px;
	font-weight: 400;
}
hr {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: rgba(9,45,66,.13);
	margin: 16px 0;
}
.mt0 {
	margin-top: 0;
}
.tab {
	&.hidden {
		display: none;
	}
}
label,
.flex {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 6px;
	border-radius: 3px;
	transition: background-color 0.14s ease-in;
	width: content-box;
	&:hover {
		background-color: rgba(9,30,66,.08);
		color: #091e42;
	}
}

div.title {
	display: flex;
	align-items: center;
	height: 48px;
}
.strelloids-icon-back {
	padding: 8px 10px;
	cursor: pointer;
	border-radius: 3px;
	&:hover {
		background-color: rgba(9,30,66,.08);
	}
}
h3 {
	font-size: 16px;
	line-height: 20px;
	flex-grow: 1;
	text-align: center;
	margin: 0;
}

.subsection {
	padding-left: 20px;
}

label {
	cursor: pointer;

	&.link {
		position: relative;
		font-weight: 600;
		line-height: 20px;
		padding: 6px 6px 6px 40px;
		color: #172b4d;
		i {
			font-size: 20px;
			position: absolute;
			top: 6px;
			left: 12px;
			color: #42526e;
		}
		&:hover {
			color: #091e42;
			i {
				color: #172b4d;
			}
		}
	}

	span {
		display: inline-block;
		width: content-box;
	}
	input[type=checkbox] {
		position: absolute;
		opacity: 0;
		width: 1px;
		height: 1px;

		& + span {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			background: #fafcfc;
			border-radius: 3px;
			box-shadow: inset 0 0 0 2px #dfe3e6;
			margin-right: 6px;
			min-height: 20px;
			height: 20px;
			min-width: 20px;
			width: 20px;
			cursor: pointer;
			&::before {
				content: "";
				display: inline-block;
				width: 9px;
				height: 5px;
				border-style: solid;
				border-width: 0 0 1px 1px;
				border-color: transparent;
				transform: rotate(-50deg);
				cursor: pointer;
			}
		}

		&:checked + span {
			background-color: rgba(9, 45, 66, .04);
			box-shadow: none;
			&::before {
				border-color: #798d99;
			}
		}
		&:disabled + span {
			background-color: rgba(9, 45, 66, .04);
			& + span {
				opacity: 0.5;
			}
		}
	}
	&:hover {
		input[type=checkbox] {
			& + span {
				background-color: #ebeef0;
			}
			&:checked + span {
				background-color: rgba(9, 45, 66, .13);
				box-shadow: none;
			}
		}
	}
}

select {
	background-color: #fafcfc;
	border-radius: 3px;
	border: none;
	box-shadow: inset 0 0 0 2px #dfe3e6;
	height: 28px;
	cursor: pointer;
	&:hover {
		background-color: #ebeef0;
	}
}