html {
	color: #17394d;
	font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	background-color: #ebeef0;
	border-radius: 2px;
}
body {
	padding: 8px;
	box-sizing: border-box;
	width: 280px;
}
hr {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: rgba(9,45,66,.13);
}
label,
.flex {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 6px;
	border-radius: 3px;
	transition: background-color 0.14s ease-in;
	width: content-box;
	&:hover {
		background-color: rgba(9,45,66,.08);
	}
}
h3 {
	font-size: 16px;
	line-height: 20px;
}

.subsection {
	padding-left: 20px;
}

label {
	cursor: pointer;
	span {
		display: inline-block;
		width: content-box;
	}
	input[type=checkbox] {
		position: absolute;
		opacity: 0;
		width: 1px;
		height: 1px;

		& + span {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			background: #fafcfc;
			border-radius: 3px;
			box-shadow: inset 0 0 0 2px #dfe3e6;
			margin-right: 6px;
			min-height: 20px;
			height: 20px;
			min-width: 20px;
			width: 20px;
			cursor: pointer;
			&::before {
				content: "";
				display: inline-block;
				width: 9px;
				height: 5px;
				border-style: solid;
				border-width: 0 0 1px 1px;
				border-color: transparent;
				transform: rotate(-50deg);
				cursor: pointer;
			}
		}

		&:checked + span {
			background-color: rgba(9, 45, 66, .04);
			box-shadow: none;
			&::before {
				border-color: #798d99;
			}
		}
		&:disabled + span {
			background-color: rgba(9, 45, 66, .04);
			& + span {
				opacity: 0.5;
			}
		}
	}
	&:hover {
		input[type=checkbox] {
			& + span {
				background-color: #ebeef0;
			}
			&:checked + span {
				background-color: rgba(9, 45, 66, .13);
				box-shadow: none;
			}
		}
	}
}

select {
	background-color: #fafcfc;
	border-radius: 3px;
	border: none;
	box-shadow: inset 0 0 0 2px #dfe3e6;
	height: 28px;
	cursor: pointer;
	&:hover {
		background-color: #ebeef0;
	}
}