html {
	min-width: 600px;
	max-width: 100vw;
	background-color: #f9f9fa;
}

body {
	font-size: 14px;
	font-family: "DejaVu Sans", "Verdana", SansSerif;
}

* {
	box-sizing: border-box;
}

h1 {
	margin: 8px 0 0 0;
}

h4 {
	margin-top: 1rem;
	margin-bottom: 4px;
}

h5 {
	margin-top: 1rem;
	margin-bottom: 4px;
}

button,
.button {
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0;
	background: #fdfbf9;
	color: #000;
	min-width: auto;
	min-height: auto;
	padding: 2px 5px;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		background: lightskyblue;
		color: #000;
	}
}

hr {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: rgba(0,0,0,0.2);
	margin: 6px auto 12px;
}

.text-center {
	text-align: center;
}

.logo {
	display: inline-block;
	margin: 0 auto;
}
.tab-container {
	display: grid;
	align-items: stretch;
	width: 100%;
	margin: 0 auto;
	max-width: 960px;
	grid-template-rows: repeat(10, auto) 1fr;
	grid-template-columns: 256px auto;
	.tab-nav {
		width: 100%;
		position: relative;
		right: -1px;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		padding: 10px 0;
		z-index: 1;
		grid-column-start: 1;
		h4 {
			text-align: left;
			margin: 2px 12px;
			font-weight: normal;
			color: rgba(0,0,0,0.65);
		}
		button {
			border-color: rgba(0,0,0,0.125) rgba(0,0,0,0.2) rgba(0,0,0,0.125) rgba(0,0,0,0.2);
			background: #fff;
			padding: 4px 8px;
			margin-top: -1px;
			cursor: pointer;
			text-shadow: none;
			box-shadow: none;
			&:hover {
				background: lightskyblue;
			}
			&:hover,
			&:focus {
				border-color: rgba(0,0,0,0.125) rgba(0,0,0,0.2) rgba(0,0,0,0.125) rgba(0,0,0,0.2);
				text-shadow: none;
				box-shadow: none;
				outline: none;
			}
			&.active {
				border-right-color: #fff;
				font-weight: bold;
			}
			&:first-of-type {
				margin-top: 0;
				border-top-left-radius: 5px;
				border-top-color: rgba(0,0,0,0.2);
			}
			&:last-of-type {
				border-bottom-left-radius: 5px;
				border-bottom-color: rgba(0,0,0,0.2);
			}
		}
		&:first-child {
			padding: 0;
		}
	}
	.tab-content{
		display: none;
		border: 1px solid rgba(0,0,0,0.2);
		border-radius: 5px;
		padding: 10px 20px 30px 20px;
		flex-grow: 1;
		background-color: #fff;
		grid-column-start: 2;
		grid-row: 1 / span 11;
		&.active {
			display: block;
		}
	}
}

label {
	cursor: pointer;
}

label,
.flex {
	display: flex;
	align-items: center;
}

.fg {
	flex-grow: 1;
}

.subsection {
	padding-left: 10px;
	border-left: 4px solid rgba(0,0,0,0.2);
}
.mt {
	margin-top: 1rem;
}
.ml {
	margin-left: 0.5rem;
}
code {
	display: inline-block;
	background-color: #ffe0fc;
	border: 1px dashed rgba(0,0,0,0.1);
	padding: 2px 4px;
	margin: 2px;
	color: #555;
	font-size: 0.85em;
}

input {
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 4px;
	padding: 2px 6px;
	margin: 2px;
	height: 22px;
	&:invalid {
		box-shadow: 0 0 1.5px 1px red;
	}
	&[type=color] {
		cursor: pointer;
	}
	&[type=number] {
		max-width: 60px;
	}
	&.color {
		width: 90px;
		font-family: monospace;
	}
}

textarea {
	width: 100%;
	height: 100px;
}

.input-group {
	display: flex;
	justify-content: stretch;
	margin: 2px;
	input {
		margin: 0;
		z-index: 1;
	}
	& > * {
		border-style: solid;
		border-color: rgba(0,0,0,0.2);
		border-width: 1px 0 1px 1px;
		border-radius: 0;
		&:first-child {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
		&:last-child {
			border-right-width: 1px;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
	.description {
		background-color: #f6f4f2;
		padding: 2px 6px;
		height: 22px
	}


}
.option-description {
	font-size: 0.85em;
	border-left: 4px solid rgba(0,0,0,0.2);
	padding-left: 10px;
	color: #555;
}

.title-group {
	display: flex;
	align-items: flex-end;
	margin: 12px 0;
	h3, h4 {
		margin: 0;
	}
	h4 {
		color: rgba(0,0,0,0.65);
	}
	span {
		padding: 0 8px;
		color: rgba(0,0,0,0.65);
	}
}

#scrum-sequence-buttons input {
	margin: 4px 2px;
}

#colored-lists-scheme {
	font-family: monospace;
}