:root {
	// Just for listing, will be overwrite by values from default_settings.json or by user settings
	--strelloids-card-priority-critical: #d91d1d;
	--strelloids-card-priority-high: #fe9900;
	--strelloids-card-priority-medium: #f3ee07;
	--strelloids-card-priority-low: #42ef38;
	--strelloids-card-priority-lowest: #50bafb;

	--strelloids-scrum-times-bg-team1-estimation: #9fd1df; // hsl(193.3,49.6%,51.8%)
	--strelloids-scrum-times-font-team1-estimation: #17394d;
	--strelloids-scrum-times-bg-team1-consumption: #abdf9f; // hsl(108.8,50%,74.9%)
	--strelloids-scrum-times-font-team1-consumption: #17394d;
	--strelloids-scrum-times-bg-team2-estimation: #baccdc;
	--strelloids-scrum-times-font-team2-estimation: #17394d;
	--strelloids-scrum-times-bg-team2-consumption: #CED79E;
	--strelloids-scrum-times-font-team2-consumption: #17394d;
}

@import "font";

.scrum-label {
	display: inline-block;
	margin: 0 2px;
	padding: 0 3px;
	border-radius: 4px;
	line-height: 16px;
	font-size: 12px;
	opacity: 0.6;
	&::before {
		position: relative;
		display: inline-block;
		margin-right: 2px;
		font-family: 'Strelloids' !important;
	}
	&.estimation::before {
		content: $strelloids-icon-light-bulb;
	}

	&.consumption::before {
		content: $strelloids-icon-fire;
	}
}
.scrum-label,
.scrum-button {
	&.team1.estimation {
		background-color: var(--strelloids-scrum-times-bg-team1-estimation);
		color: var(--strelloids-scrum-times-font-team1-estimation);
	}
	&.team1.consumption {
		background-color: var(--strelloids-scrum-times-bg-team1-consumption);
		color: var(--strelloids-scrum-times-font-team1-consumption);
	}
	&.team2.estimation {
		background-color: var(--strelloids-scrum-times-bg-team2-estimation);
		color: var(--strelloids-scrum-times-font-team2-estimation);
	}
	&.team2.consumption {
		background-color: var(--strelloids-scrum-times-bg-team2-consumption);
		color: var(--strelloids-scrum-times-font-team2-consumption);
	}
}

.list-card {
	.list-card-title {
		width: 100%;
		.card-tag {
			padding: 0 3px;
			font-family: monospace;
			display: inline-block;
			float: none;
			vertical-align: middle;
			min-width: initial;
			opacity: 0.6;
			color: #17394D;
			border-left: 3px solid #555;
			border-radius: 0 4px 4px 0;
			line-height: 18px;
			margin: 0 2px;
		}
	}
	.list-card-details {
		display: flex;
		flex-wrap: wrap;
	}
	.card-label {
		opacity: 0.7;
		flex-grow: 1;
	}
	.list-card-members {
		flex-grow: 1;
		text-align: right;
	}
	.scrum-points-container {
		flex-grow: 1;
		text-align: right;
	}
	&.card-separator {
		background-color: transparent;
		box-shadow: none;
		.list-card-title {
			display: flex;
			align-items: center;
			color: #6b808c;
			width: 100%;
			&::before,
			&::after {
				content: "";
				flex-grow: 1;
				display: block;
				height: 0;
				border-bottom: 1px dashed #6b808c;
				margin-left: 5px;
				margin-right: 5px;
			}
		}
		.card-short-id {
			display: none;
		}
	}
	&.priority-critical {
		border-left: 5px solid var(--strelloids-card-priority-critical);
	}
	&.priority-high {
		border-left: 5px solid var(--strelloids-card-priority-high);
	}
	&.priority-medium {
		border-left: 5px solid var(--strelloids-card-priority-medium);
	}
	&.priority-low {
		border-left: 5px solid var(--strelloids-card-priority-low);
	}
	&.priority-lowest {
		border-left: 5px solid var(--strelloids-card-priority-lowest);
	}
	&:hover {
		.list-card-title .card-tag {
			opacity: 1;
		}
		.scrum-label {
			opacity: 1;
		}
		.card-label {
			opacity: 1;
		}
	}
}

.list {
	.list-header {
		&.is-menu-shown,
		&.is-subscribe-shown {
			padding-right: 8px;
		}
	}
}
.list-header {
	display: flex;
	flex-wrap: wrap;
	.list-visibility-switcher {
		position: absolute;
		top: 4px;
		left: 4px;
		height: 32px;
		width: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
		z-index: 1;
		cursor: pointer;
		&::before {
			content: "";
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 0 7px 7px;
			border-color: transparent transparent transparent #798d99;
			transition: transform 0.3s ease-in-out;
		}
		&:hover {
			background-color: rgba(9,45,66,.13);
			border-left-color: #516b7a;
		}
	}
	.list-header-target {
		cursor: text;
	}
	.list-header-name {
		flex-grow: 1;
		width: auto;
		margin-left: 24px;
		margin-right: 24px;
	}
	.scrum-sum-container {
		display: inline-block;
		margin: 0;
		flex-grow: 1;
		text-align: right;
		.scrum-label {
			font-size: 14px;
			line-height: 18px;
			opacity: 0.75;
		}
	}
}

.card-short-id {
	color: gray;
	float: right;
	margin-left: 4px;
	font-size: 12px;
}

#board:not(.board-table-view) {
	.list-hidden {
		width: 40px;
		max-width: 40px;
		text-orientation: sideways;
		writing-mode: vertical-lr;
		-webkit-writing-mode: vertical-lr;
		min-height: max-content;
		textarea.list-header-name {
			display: none;
		}
		.list-header-name-assist {
			display: block;
			font-size: 16px;
		}
		.list-header {
			padding-right: 8px;
			padding-top: 70px;
			display: flex;
			align-items: center;
			.list-header-name-assist {
				white-space: nowrap;
			}
			.list-header-num-cards {
				margin: 8px 0;
				white-space: nowrap;
			}
			.scrum-label {
				margin: 2px 0;
				padding: 3px 0;
				&::before {
					margin-bottom: 2px;
					margin-right: 0;
				}
			}
			.list-header-extras {
				top: 36px;
			}
		}
	}

}
.list-hidden {
	opacity: 0.8;
	.list-cards {
		display: none;
	}
	.open-card-composer {
		display: none;
	}
	.list-header {
		.list-visibility-switcher {
			&::before {
				transform: rotate(90deg);
			}
		}
		.list-header-target {
			display: none;
		}
	}
}

#board {
	&.board-multiple-rows {
		overflow-y: auto;
		display: flex;
		flex-wrap: wrap;
		.flex-placeholder {
			flex-grow: 1;
			height: 1px;
			width: 272px
		}
		.list-wrapper {
			flex-grow: 1;
			max-height: 500px;
			margin-bottom: 8px;
			&:first-child {
				margin-left: 4px;
			}
		}
	}
	&.board-table-view {
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		.list-wrapper {
			width: auto;
			height: auto;
			margin-bottom: 8px;
			.list-card {
				max-width: 100%;
				.list-card-details {
					display: grid;
					align-items: center;
					margin-right: 22px;
					grid-template-columns: 45% 20% 10% 10% 15%;
					.list-card-labels {
						grid-column: 2 / span 1;
						grid-row: 1 / span 1;
						text-align: center;
						.card-label.mod-card-front {
							display: inline-block;
							float: none;
						}
					}
					.list-card-title {
						grid-column: 1 / span 1;
						grid-row: 1 / span 1;
					}
					.badges {
						grid-column: 5 / span 1;
						grid-row: 1 / span 1;
						text-align: right;
					}
					.list-card-members {
						grid-column: 4 / span 1;
						grid-row: 1 / span 1;
						text-align: center;
					}
					.scrum-points-container {
						grid-column: 3 / span 1;
						grid-row: 1 / span 1;
						text-align: left;
					}
					.card-short-id {
						margin-right: 8px;
					}
				}
				.list-card-stickers-area {
					display: none;
				}
				.list-card-cover {
					display: none;
				}
				&.is-stickered .list-card-details {
					margin-top: 0;
				}
				&.card-separator {
					.list-card-details {
						.list-card-title {
							grid-column: 1 / span 5;
						}
					}
				}
			}
			.list-header {
				display: grid;
				align-items: center;
				grid-template-columns: 45% 20% 10% 10% 15%;
				.list-header-name {
					grid-column: 1 / span 1;
					grid-row: 1 / span 1;
				}
				.scrum-sum-container {
					grid-column: 3 / span 1;
					grid-row: 1 / span 1;
					text-align: left;
				}
				.list-header-num-cards {
					grid-column: 5 / span 1;
					grid-row: 1 / span 1;
					text-align: center;
				}
			}
			&.list-hidden {
				text-orientation: initial;
				writing-mode: initial;
				-webkit-writing-mode: initial;
			}
			&:first-child {
				margin-left: 4px;
			}
		}
	}
}

#cards-prioritization-select {
	width: auto;
	height: 32px;
	border-radius: 3px;
	border: none;
	padding: 4px 24px 4px 8px;
	box-shadow: inset 0 0 0 2px #dfe3e6;
	color: #17394d;
	background: #fafcfc url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath fill='%2317394d' d='M1 1h8 l-4 4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
	background-size: 10px 6px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	margin: 0 4px 4px 0;
	&:hover {
		background-color: #ebeef0;
	}
}

.card-detail-data {
	display: flex;
	flex-wrap: wrap;
}

.scrum-button {
	position: relative;
	background-color: rgba(9,45,66,.08);
	border-radius: 2px;
	color: #6b808c;
	cursor: pointer;
	display: inline-block;
	float: left;
	margin: 4px 2px 4px 0;
	transition-property: background-color,border-color,box-shadow;
	transition-duration: 85ms;
	transition-timing-function: ease;
	font-weight: 500;
	padding: 2px 6px;
	overflow: hidden;
	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(9,45,66,0);
		transition: background-color 85ms ease;
	}
	&:hover {
		&::after {
			background-color: rgba(9,45,66,.13);
		}
	}
}
.scrum-buttons {
	order: -1;
	&.show-team1.show-team2 {
		.scrum-button {
			margin: 0 2px 4px 0;
			padding: 0 6px;
		}
	}
}

.custom-tags-ui {
	.card-detail-item-add-button {
		float: none;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 2px;
	}
	input[name="custom-tag-input"] {
		display: inline-block;
		width: auto;
		max-width: 120px;
		min-width: 1em;
		height: 30px;
		margin: 0 4px 4px 0;
		padding: 0 5px;
		font-family: monospace;
		color: #17394D;
		border-left: 3px solid #555;
		border-radius: 0 4px 4px 0;
		box-sizing: content-box;
		box-shadow: none;
	}
}

.body-card-label-text-on,
.body-card-label-text {
	.card-label.mod-card-front {
		min-width: initial;
	}
}

.tabbed-pane-main-col.mod-wider .tabbed-pane-main-col-wrapper {
	max-width: initial;
}