:root {
	// Just for listing, will be overwrite by values from default_settings.json or by user settings
	--strelloids-card-priority-critical: #d91d1d;
	--strelloids-card-priority-high: #fe9900;
	--strelloids-card-priority-medium: #f3ee07;
	--strelloids-card-priority-low: #42ef38;
	--strelloids-card-priority-lowest: #50bafb;

	--strelloids-scrum-times-bg-team1: #9fd1df;
	--strelloids-scrum-times-font-team1: #17394d;
	--strelloids-scrum-times-bg-team2: #abdf9f;
	--strelloids-scrum-times-font-team2: #17394d;
}

@import "font";

#strelloids-settings-btn {
	padding-left: 32px;
	padding-right: 5px;
}

#strelloids-settings-window {
	width: auto;
	height: auto;
	overflow: initial;
	top: 44px;
	right: 4px;
	max-height: calc(100vh - 48px);
	left: auto;
	position: fixed;
	z-index: 100;
	overflow-y: auto;
	background-color: #fff;
	label {
		margin-top: 0;
		display: flex;
		align-items: center;
		font-weight: 400;
		input {
			margin-bottom: 0;
		}
		select {
			display: inline-block;
			width: auto;
			margin: 0;
			background-color: rgba(0,0,0,0.05);
			border: 1px solid rgba(0,0,0,0.2);
			padding: 3px;
		}
	}
}


.scrum-label {
	display: inline-block;
	margin: 0 2px;
	padding: 0 3px;
	border-radius: 4px;
	line-height: 16px;
	font-size: 12px;
	opacity: 0.6;
	&.team1 {
		background-color: var(--strelloids-scrum-times-bg-team1);
		color: var(--strelloids-scrum-times-font-team1);
	}
	&.team2 {
		background-color: var(--strelloids-scrum-times-bg-team2);
		color: var(--strelloids-scrum-times-font-team2);
	}
	&::before {
		position: relative;
		display: inline-block;
		margin-right: 2px;
		font-family: 'Strelloids' !important;
	}
	&.estimation::before {
		content: $strelloids-icon-light-bulb;
	}

	&.consumption::before {
		content: $strelloids-icon-fire;
	}
}

.list-card {
	.list-card-title {
		.card-tag {
			padding: 0 3px;
			font-family: monospace;
			display: inline-block;
			float: none;
			vertical-align: middle;
			min-width: initial;
			opacity: 0.6;
			color: #17394D;
			border-left: 3px solid #555;
			border-radius: 0 4px 4px 0;
			line-height: 18px;
			margin: 0 2px;
		}
	}
	.list-card-details {
		display: flex;
		flex-wrap: wrap;
	}
	.card-label {
		opacity: 0.7;
		min-width: initial;
		flex-grow: 1;
	}
	.list-card-members {
		flex-grow: 1;
		text-align: right;
	}
	.scrum-points-container {
		flex-grow: 1;
		text-align: right;
	}
	&.card-separator {
		background-color: transparent;
		box-shadow: none;
		.list-card-title {
			display: flex;
			align-items: center;
			color: #6b808c;
			width: 100%;
			&::before,
			&::after {
				content: "";
				flex-grow: 1;
				display: block;
				height: 0;
				border-bottom: 1px dashed #6b808c;
				margin-left: 5px;
				margin-right: 5px;
			}
		}
		.card-short-id {
			display: none;
		}
	}
	&.priority-critical {
		border-left: 5px solid var(--strelloids-card-priority-critical);
	}
	&.priority-high {
		border-left: 5px solid var(--strelloids-card-priority-high);
	}
	&.priority-medium {
		border-left: 5px solid var(--strelloids-card-priority-medium);
	}
	&.priority-low {
		border-left: 5px solid var(--strelloids-card-priority-low);
	}
	&.priority-lowest {
		border-left: 5px solid var(--strelloids-card-priority-lowest);
	}
	&:hover {
		.list-card-title .card-tag {
			opacity: 1;
		}
		.scrum-label {
			opacity: 1;
		}
		.card-label {
			opacity: 1;
		}
	}
}

.list {
	.list-header {
		&.is-menu-shown,
		&.is-subscribe-shown {
			padding-right: 8px;
		}
	}
}
.list-header {
	display: flex;
	flex-wrap: wrap;
	.list-visibility-switcher {
		position: absolute;
		top: 4px;
		left: 4px;
		height: 32px;
		width: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
		z-index: 1;
		cursor: pointer;
		&::before {
			content: "";
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 0 7px 7px;
			border-color: transparent transparent transparent #798d99;
			transition: transform 0.3s ease-in-out;
		}
		&:hover {
			background-color: rgba(9,45,66,.13);
			border-left-color: #516b7a;
		}
	}
	.list-header-target {
		cursor: text;
	}
	.list-header-name {
		flex-grow: 1;
		width: auto;
		margin-left: 24px;
		margin-right: 24px;
	}
	.scrum-sum-container {
		display: inline-block;
		margin: 0;
		flex-grow: 1;
		text-align: right;
		.scrum-label {
			font-size: 14px;
			line-height: 18px;
			opacity: 0.75;
		}
	}
}

.card-short-id {
	color: gray;
	float: right;
	margin-left: 4px;
	font-size: 12px;
}

#board:not(.board-table-view) {
	.list-hidden {
		width: 40px;
		max-width: 40px;
		text-orientation: sideways;
		writing-mode: vertical-lr;
		-webkit-writing-mode: vertical-lr;
		min-height: max-content;
		textarea.list-header-name {
			display: none;
		}
		.list-header-name-assist {
			display: block;
			font-size: 16px;
		}
		.list-header {
			padding-right: 8px;
			padding-top: 70px;
			display: flex;
			align-items: center;
			.list-header-name-assist {
				white-space: nowrap;
			}
			.list-header-num-cards {
				margin: 8px 0;
				white-space: nowrap;
			}
			.scrum-label {
				margin: 2px 0;
				padding: 3px 0;
				&::before {
					margin-bottom: 2px;
					margin-right: 0;
				}
			}
			.list-header-extras {
				top: 36px;
			}
		}
	}

}
.list-hidden {
	opacity: 0.8;
	.list-cards {
		display: none;
	}
	.open-card-composer {
		display: none;
	}
	.list-header {
		.list-visibility-switcher {
			&::before {
				transform: rotate(90deg);
			}
		}
		.list-header-target {
			display: none;
		}
	}
}

#board {
	&.board-multiple-rows {
		overflow-y: auto;
		display: flex;
		flex-wrap: wrap;
		.flex-placeholder {
			flex-grow: 1;
			height: 1px;
			width: 272px
		}
		.list-wrapper {
			flex-grow: 1;
			max-height: 500px;
			margin-bottom: 8px;
			&:first-child {
				margin-left: 4px;
			}
		}
	}
	&.board-table-view {
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		.list-wrapper {
			width: auto;
			height: auto;
			margin-bottom: 8px;
			.list-card {
				max-width: 100%;
				.list-card-details {
					display: grid;
					align-items: center;
					margin-right: 22px;
					grid-template-columns: 45% 20% 10% 10% 15%;
					.list-card-labels {
						grid-column: 2 / span 1;
						grid-row: 1 / span 1;
						text-align: center;
						.card-label.mod-card-front {
							display: inline-block;
							float: none;
						}
					}
					.list-card-title {
						grid-column: 1 / span 1;
						grid-row: 1 / span 1;
					}
					.badges {
						grid-column: 5 / span 1;
						grid-row: 1 / span 1;
						text-align: right;
					}
					.list-card-members {
						grid-column: 4 / span 1;
						grid-row: 1 / span 1;
						text-align: center;
					}
					.scrum-points-container {
						grid-column: 3 / span 1;
						grid-row: 1 / span 1;
						text-align: left;
					}
					.card-short-id {
						margin-right: 8px;
					}
				}
				.list-card-stickers-area {
					display: none;
				}
				.list-card-cover {
					display: none;
				}
				&.is-stickered .list-card-details {
					margin-top: 0;
				}
				&.card-separator {
					.list-card-details {
						.list-card-title {
							grid-column: 1 / span 5;
						}
					}
				}
			}
			.list-header {
				display: grid;
				align-items: center;
				grid-template-columns: 45% 20% 10% 10% 15%;
				.list-header-name {
					grid-column: 1 / span 1;
					grid-row: 1 / span 1;
				}
				.scrum-sum-container {
					grid-column: 3 / span 1;
					grid-row: 1 / span 1;
					text-align: left;
				}
				.list-header-num-cards {
					grid-column: 5 / span 1;
					grid-row: 1 / span 1;
					text-align: center;
				}
			}
			&.list-hidden {
				text-orientation: initial;
				writing-mode: initial;
				-webkit-writing-mode: initial;
			}
			&:first-child {
				margin-left: 4px;
			}
		}
	}
}